body{
    background-color: #141414;
    font-family: system-ui;
    color: #FFFFFF;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section{
    padding-top: 10%;
    text-align: center;
    margin: auto;
}

.col{
    padding: 0.20rem;
    margin: 11px;
    width: 200px;
    height: 200px;
    transition: 1s;
    /*border: 1px solid #FFFFFF;*/
    border-radius: 5px;
}

.col:hover{
    padding: 0rem;
    margin: 11px;
    width: 220px;
    height: 220px;
    /*border: 1px solid #FFFFFF;*/
    transition: 1s;
    border-radius: 5px;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.img{
    padding: 0;
    margin: 0;
    border-radius: 0;
    transition: 1s;
    opacity: 0.5;
    
}
.img:hover{
    transition: 1s;
    opacity: 1;
    border-radius: 5px;
}

.btn{
    transition: 1s;
    margin-top: 100px;
    color: #FFFFFF;
    padding: 0.75rem;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    width: auto;
}
.btn:hover{
    transition: 1s;
    color: #000000;
    background-color: #FFFFFF; 
    padding: 0.95rem;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    width: auto;
}
a{
    text-decoration: none;
}
.d-flex{
    margin: auto;
    width: 100px;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.d-flex span{
    font-family: system-ui;
    padding: 1px;
    transition: 0.5s;
    color: rgb(255, 0, 0);
}

.d-flex span:hover{
    transition: 0.5s;
    color: rgb(255, 255, 255);
    font-size: 45px !important;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.borda{
    border: 0px;
    border-radius: 5px;
    transition: 1s;
}
.borda:hover{
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    transition: 1s;
}
